<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
<meta name="referrer" content="same-origin">
<meta name="referrer" content="no-referrer-when-downgrade"/>
<meta http-equiv="content-language" content="cn"/>
{% if site.webmaster_verifications %}
  {% if site.webmaster_verifications.360 %}
<meta name="360-site-verification" content="{{ site.webmaster_verifications.360 }}" />
  {% endif %}
{% endif %}
